<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
<div class="container-fluid">
    <div class="text-light heading-menu">
        <div class="side-nav-button p-2 me-3" (click)="SideNavToggle()">
            <i class="fa-solid fa-bars"></i>
        </div>
        <a class="navbar-brand px-4" href="#">
            AImages
        </a>
    </div>
        <form class="d-flex " role="search">
            <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            />
            <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

</nav>
